<html>
    <head>
        <title>Hair Metal</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class='container'>

        <h1>Update {{ stylist.GetName}} </h1>
        <br>

        <form action="/stylists/{{ stylist.getId }}" method='post'>
            <input name='_method' type='hidden' value='patch'>

            <label for='name'>Rename Stylist:</label>
            <input id='name' name='name' type='text'>

            <button type='submit'>Update</button>
        </form>

        <form action="/stylists/{{ stylist.getId }}" method="post">
              <input name="_method" type="hidden" value="delete">

              <button type="submit">Delete</button>

        </form>
    </body>
</html>
