<html>
    <head>
        <title>Hair Metal</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class='container'>

            <img src="hairmetal.jpg" style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>

            <h1>Welcome to Hair Metal</h1>

            <p>Enter a stylist's name:</p>

            <form action='/stylists' method='post'>
                <div class ='form-group'>
                    <label for='name'></label>
                    <input id='name' class='form-control' placeholder='Stylist Name' name='name' type='text'>
                    <br>
                    <button type='submit' class='btn btn-danger'>Add Stylist</button>
                </div>
            </form>

            {% if stylists is not empty %}
                <h2><p>Click on a stylist's name to see their list of clients:</p><h2>
                <h3><ul>
                    {% for stylist in stylists %}
                    <form action='/stylists/{{ stylist.getId }}' method='post'>
                    <input name='_method' type='hidden' value='delete'>
                    <li><h4><a href="/stylists/{{ stylist.getId }}">{{ stylist.getName }}</a>
                        <a class="btn btn-danger" href="/stylists/{{ stylist.getId }}/edit" role="button">Edit or Delete</a>
                    {% endfor %}
                </ul></h3>
                <br>

            <!--Delete All button will only delete one stylist at a time!! -->
            <form action='/deleteAll' method='post'>
                <button type='submit' class='btn btn-danger'>Delete All Stylists</button>
            </form>


            {% else %}
                <p>There are no stylists entered yet!</p>
            {% endif %}
            <br>
        </div>

    </body>
</html>
